@inject NavigationManager NavManager
<h3>RedirectToLogin</h3>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        NavManager.NavigateTo("/Identity/Account/Login",true);
    }
}
